body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#mapImage {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border: 1px double black;
    padding: 5px;
    position: relative;
    float: left;
    margin-bottom: 20px;
}

.mapButton {
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    display:flex;
    justify-content:center;
    align-items:center;
    color: black;
}

.freeRoom {
    background: deepskyblue;
}

.occupiedRoom {
    background: #ff8347;
}

.selectedRoom {
    background: greenyellow !important;
}

.mapButton:hover {
    opacity: 0.8;
    cursor: pointer;
}

#generatedTimetable th {
    width: 200px;
    border: 1px solid black;
    padding-left: 5px;
}